@inherits LayoutComponentBase

<div class="pb-2 mt-4 mb-2 border-bottom">
    <div class="top-row">
        <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<div class="sidebar">
    <NavMenu />
</div>

@code {

}