@page "/developer/edit/{developerId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit</h3>

<Form ButtonText="Update" dev="_dev"
      OnValidSubmit="@EditDeveloper" />

@code {
    [Parameter] public int DeveloperId { get; set; }
    Developer? _dev = new Developer();

    protected override async Task OnParametersSetAsync()
    {
        _dev = await http.GetFromJsonAsync<Developer>($"api/developer/{DeveloperId}");
    }

    async Task EditDeveloper()
    {
        await http.PutAsJsonAsync("api/developer", _dev);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("developer");
    }
}
